.chad {
    max-height: 200px;
    max-height: 200px;
    margin: 20px;
}

.about-header {
    margin-top: 20px
}

.about-p {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}